<mat-card>
    <mat-card-content>
        <form [formGroup]="templateForm" (ngSubmit)="save()">
            <div class="template-grid">
                <div class="name">
                    <mat-form-field>
                        <input matInput type="text" formControlName="templateName" placeholder="Name">
                        <mat-error *ngIf="templateForm.get('templateName').hasError('required')">Required field</mat-error>
                    </mat-form-field>
                </div>

                <div class="template">
                    <mat-form-field>
                        <textarea matInput type="text" formControlName="template" placeholder="Template" cdkTextareaAutosize></textarea>
                        <mat-error *ngIf="templateForm.get('template').hasError('required')">Required field</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="buttons">
                <button mat-raised-button color="primary" type="submit" [disabled]="!templateForm.valid">{{buttonText}}</button>
                <button mat-button color="accent" type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
