table {
    width: 100%;
}

div {
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.mat-header-cell {
    &:first-child {
        width: 300px;
    }
}

mat-card {
    overflow: hidden;
}

td.property-cell {
    padding: 8px 0;
}
