<ng-container *ngIf="!resource">
    <div class="lighter">
        <mat-toolbar color="primary">
            <h1>
                Resource not found
            </h1>
        </mat-toolbar>

        <mat-card>
            <mat-card-content>
                The requested resource was not found. You may have followed an old link, to a resource that has since been removed
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>

<ng-container *ngIf="resource">
    <div>
        <mat-toolbar color="primary">
            <h1>
                Resource
            </h1>

            <span class="fill"></span>

            <button mat-icon-button>
                <button mat-button mat-icon-button (click)="isOpen['resource'] = !isOpen['resource'];">
                    <mat-icon [@rotate]="isOpen['resource'] ? 'open' : 'closed'">keyboard_arrow_down</mat-icon>
                </button>
            </button>
        </mat-toolbar>

        <mat-card *ngIf="isOpen['resource']" [@openClose]>
            <mat-card-content>
                <table mat-table [dataSource]="resourceInfo()" class="striped">
                    <ng-container matColumnDef="key">
                        <th mat-header-cell *matHeaderCellDef>Key</th>
                        <td mat-cell *matCellDef="let data">{{data.key}}</td>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef>Value</th>
                        <td mat-cell *matCellDef="let data" [innerHTML]="(data.value || '<i>N/A</i>') | sanitize"></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['key', 'value']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['key', 'value'];"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <mat-toolbar color="primary">
            <h1>
                Properties
            </h1>

            <span class="fill"></span>

            <button mat-icon-button>
                <button mat-button mat-icon-button (click)="isOpen['properties'] = !isOpen['properties'];">
                    <mat-icon [@rotate]="isOpen['properties'] ? 'open' : 'closed'">keyboard_arrow_down</mat-icon>
                </button>
            </button>
        </mat-toolbar>

        <mat-card *ngIf="isOpen['properties']" [@openClose]>
            <mat-card-content>
                <table mat-table [dataSource]="filteredProperties()" style="width: 100%" class="striped">
                    <ng-container matColumnDef="key">
                        <th mat-header-cell *matHeaderCellDef>Key</th>
                        <td mat-cell *matCellDef="let prop">{{getResourcePropertyName(resource.resourceType, prop.key)}}</td>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef>Value</th>
                        <td mat-cell *matCellDef="let prop" class="property-cell">
                            <app-property-display [property]="getDisplayProperty(prop)"></app-property-display>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['key', 'value']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['key', 'value'];"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

    <div *ngIf="resource.tags.length > 0">
        <mat-toolbar color="primary">
            <h1>
                Tags
            </h1>

            <span class="fill"></span>

            <button mat-icon-button>
                <button mat-button mat-icon-button (click)="isOpen['tags'] = !isOpen['tags'];">
                    <mat-icon [@rotate]="isOpen['tags'] ? 'open' : 'closed'">keyboard_arrow_down</mat-icon>
                </button>
            </button>
        </mat-toolbar>

        <mat-card *ngIf="isOpen['tags']" [@openClose]>
            <mat-card-content>
                <table mat-table [dataSource]="resource.tags" style="width: 100%" class="striped">
                    <ng-container matColumnDef="key">
                        <th mat-header-cell *matHeaderCellDef>Key</th>
                        <td mat-cell *matCellDef="let tag">{{tag.key}}</td>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef>Value</th>
                        <td mat-cell *matCellDef="let tag">{{tag.value}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['key', 'value']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['key', 'value'];"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

    <div *ngIf="children.length > 0">
        <mat-toolbar color="primary">
            <h1>
                Children
            </h1>

            <span class="fill"></span>

            <button mat-icon-button>
                <button mat-button mat-icon-button (click)="isOpen['children'] = !isOpen['children'];">
                    <mat-icon [@rotate]="isOpen['children'] ? 'open' : 'closed'">keyboard_arrow_down</mat-icon>
                </button>
            </button>
        </mat-toolbar>

        <mat-card *ngIf="isOpen['children']" [@openClose]>
            <mat-card-content>
                <table mat-table [dataSource]="children" style="width: 100%" class="striped">
                    <ng-container matColumnDef="resourceId">
                        <th mat-header-cell *matHeaderCellDef>Resource ID</th>
                        <td mat-cell *matCellDef="let child">
                            <a routerLink="../{{child.resourceId}}">{{child.resourceId}}</a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="resourceType">
                        <th mat-header-cell *matHeaderCellDef>Resource ID</th>
                        <td mat-cell *matCellDef="let child">{{getResourceTypeName(child.resourceType)}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['resourceId', 'resourceType']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['resourceId', 'resourceType'];"></tr>
                </table>

                <mat-paginator [length]="childCount" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>
