<mat-toolbar color="primary">
    <h3>Audit Log Event Details</h3>
</mat-toolbar>

<mat-card>
    <mat-card-content>
        <div class="audit-log-table">
            <div class="audit-log-info-row">
                <div class="table-cell title">
                    Timestamp
                </div>
                <div class="table-cell">
                    {{auditLogEvent.timestamp | date : 'yyyy-MM-dd HH:mm:ss'}}
                </div>
            </div>
            <div class="audit-log-info-row">
                <div class="table-cell title">
                    Event
                </div>
                <div class="table-cell">
                    {{auditLogEvent.event}}
                </div>
            </div>
            <div class="audit-log-info-row">
                <div class="table-cell title">
                    Actor
                </div>
                <div class="table-cell">
                    {{auditLogEvent.actor}}
                </div>
            </div>
            <div class="audit-log-info-row">
                <div class="table-cell title">
                    Data
                </div>
                <div class="table-cell">
                    <pre>{{formatData()}}</pre>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button mat-raised-button color="primary" (click)="back()">Back</button>
        </div>
    </mat-card-content>
</mat-card>
