<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [fixedInViewport]="true"
            [attr.role]="(doCollapse | async) ? 'dialog' : 'navigation'"
            [mode]="(doCollapse | async) ? 'over' : 'side'"
            [opened]="!(doCollapse | async)"
            [disableClose]="!(doCollapse | async)">
        <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" *ngIf="doCollapse | async">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Probator</span>
        </mat-toolbar>
        <section class="main-content">
            <router-outlet></router-outlet>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>
