.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 250px;
}

.mat-toolbar {
    color: #ffffff;

    .mat-primary {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

.main-content {
    margin-bottom: 12px;
    padding: 0 8px 4px 4px;
}
