<div mat-dialog-title>
    Delete {{user.username}}
</div>

<div mat-dialog-content>
    <p>
        Are you sure you want to delete {{user.username}}?. This action is irreversible and the user may no longer be
        able to login.
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button color="warn" (click)="confirm()" cdkFocusInitial>Confirm</button>
    <button mat-button mat-raised-button (click)="cancel()">Cancel</button>
</div>
