<div mat-dialog-title>
    Delete namespace {{namespace.name}}
</div>

<div mat-dialog-content>
    <p>
        Are you sure you want to delete the {{namespace.name}} prefix?. This action is irreversible and any configuration
        items within this prefix will be permanently removed
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button color="warn" (click)="confirm()" cdkFocusInitial>Confirm</button>
    <button mat-button mat-raised-button (click)="cancel()" cdkFocusInitial>Cancel</button>
</div>
