mat-form-field {
    width: 100%;
}

div:not(:last-child) {
    margin-bottom: 10px;
}

.account-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-areas:
        'accountName accountType'
        'requiredRoles enabled'
        'contacts contacts';

    .accountName {
        grid-area: accountName;
    }

    .accountType {
        grid-area: accountType;
    }

    .requiredRoles {
        grid-area: requiredRoles;
    }

    .contacts {
        grid-area: contacts;
    }
}

.properties-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

div.buttons :not(:last-child) {
    margin-right: 8px;
}
