<mat-card>
    <mat-card-content>
        <form [formGroup]="accountForm" (ngSubmit)="save()">
            <div class="account-grid">
                <div class="accountName">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Account Name" formControlName="accountName">
                        <mat-error *ngIf="accountForm.get('accountName').hasError('required')">Required field</mat-error>
                    </mat-form-field>
                </div>

                <div class="accountType">
                    <mat-form-field>
                        <mat-select formControlName="accountType" placeholder="Account Type" (selectionChange)="updateAccountType($event)">
                            <mat-option *ngFor="let type of accountTypes" [value]="type.name">{{type.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="accountForm.get('accountType').hasError('required')">Required field</mat-error>
                    </mat-form-field>
                </div>

                <div class="requiredRoles">
                    <mat-form-field>
                        <mat-chip-list #requiredRoles>
                            <mat-chip
                                *ngFor="let group of accountForm.get('requiredRoles').value"
                                [removable]="true"
                                (removed)="removeRequiredRole(group)"
                            >
                                {{group}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            <input
                                placeholder="Required Roles"
                                #roleInput
                                [formControl]="roleCtrl"
                                [matAutocomplete]="roleAuto"
                                [matChipInputFor]="requiredRoles"
                                [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                                (matChipInputTokenEnd)="addRequiredRole($event)"
                            >
                        </mat-chip-list>

                        <mat-autocomplete #roleAuto="matAutocomplete" (optionSelected)="selectedRole($event)">
                            <mat-option *ngFor="let role of filteredRoles | async" [value]="role">{{role}}</mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="enabled">
                    <mat-form-field>
                        <mat-select [formControl]="accountForm.get('enabled')" placeholder="Account Status">
                            <mat-option [value]="true">Enabled</mat-option>
                            <mat-option [value]="false">Disabled</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="contacts">
                    <app-contact-editor [contacts]="accountForm.get('contacts')"></app-contact-editor>
                </div>
            </div>

            <div *ngIf="showProperties" class="properties-grid">
                <div *ngFor="let prop of getAccountProperties(selectedAccountType)">
                    <app-account-property [property]="prop" [control]="accountForm.get('properties').get(prop.key)"></app-account-property>
                </div>
            </div>

            <div class="buttons">
                <button mat-raised-button color="primary" type="submit" [disabled]="!accountForm.valid">{{buttonText}}</button>
                <button mat-button color="accent" type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
