<mat-form-field>
    <mat-chip-list #arrayValue>
        <mat-chip
            *ngFor="let value of list.value"
            [removable]="true"
            (removed)="removeListValue(value)"
        >
            {{value}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
            placeholder="Value"
            [formControl]="listCtrl"
            [matChipInputFor]="arrayValue"
            [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
            (matChipInputTokenEnd)="addListValue($event)"
        >
    </mat-chip-list>
</mat-form-field>
