<div>
    <span *ngFor="let filter of filters" style="flex: auto">
        <mat-form-field>
            <ng-container *ngIf="filter.type === 'select'">
                <mat-select
                    [(ngModel)]="filter.values"
                    [placeholder]="filter.name"
                    [multiple]="filter.multiple"
                    (selectionChange)="selectionChange()"
                >
                    <ng-container *ngIf="filter.grouped">
                        <mat-optgroup *ngFor="let group of filter.options" [label]="group.name">
                            <mat-option *ngFor="let option of group.options" [value]="option.value">{{option.name}}</mat-option>
                        </mat-optgroup>
                    </ng-container>

                    <ng-container *ngIf="!filter.grouped">
                        <mat-option *ngFor="let option of filter.options" [value]="option.value">{{option.name}}</mat-option>
                    </ng-container>
                </mat-select>
            </ng-container>

            <ng-container *ngIf="filter.type === 'input'">
                <input matInput [(ngModel)]="filter.values" [placeholder]="filter.name" (keyup.enter)="selectionChange()">
            </ng-container>

        </mat-form-field>
    </span>
    <span *ngFor="let button of buttons">
        <button
            [matTooltip]="button.tooltip"
            mat-icon-button
            role="button"
            (click)="button.action($event)"
            [color]="button.color"
        >
            <mat-icon>{{button.icon}}</mat-icon>
        </button>
    </span>
</div>
