table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
}

.mat-column-timestamp {
    width: 15%;
}

.mat-column-level {
    width: 150px;
    text-align: center;
}

.mat-column-message {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 4px;
}

.mat-column-actions {
    width: 100px;
    text-align: center;
}
