<mat-card #top>
    <mat-card-content>
        <app-filters [filters]="filters" (updated)="filterChange()"></app-filters>

        <div class="shade" *ngIf="loading">
            <mat-spinner *ngIf="loading"></mat-spinner>
        </div>

        <table mat-table [dataSource]="logEvents" class="striped">
            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef>Timestamp</th>
                <td mat-cell *matCellDef="let event">
                    {{event.timestamp | date : 'yyyy-MM-dd HH:mm:ss'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef>Level</th>
                <td mat-cell *matCellDef="let event">
                    <span class="label" [ngClass]="getLevelColor(event.level)">{{event.level}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef>Message</th>
                <td mat-cell *matCellDef="let event">{{event.message}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let event">
                    <button mat-button mat-raised-button color="primary" routerLink="../details/{{event.logEventId}}">
                        View
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator
            [length]="logEventCount"
            [pageSize]="25"
            [pageSizeOptions]="[25, 50, 100]"
            showFirstLastButtons
        ></mat-paginator>
    </mat-card-content>
</mat-card>
