<app-config-namespace-list
    *ngFor="let namespace of namespaces"
    id="ns-{{namespace.namespacePrefix}}"
    [namespace]="namespace"
    (removed)="namespaceDeleted($event)"
></app-config-namespace-list>

<div class="fab-container">
    <button mat-fab class="fab-toggler" color="warn" (click)="toggleFab()">
        <mat-icon [@fabToggler]="{value: fabState}">menu</mat-icon>
    </button>

    <div [@speedDialStagger]="buttons.length">
        <button mat-mini-fab color="accent" *ngFor="let btn of buttons" (click)="toggleFab(); btn.click($event)" [matTooltip]="btn.tooltip">
            <mat-icon>{{btn.icon}}</mat-icon>
        </button>
    </div>
</div>
