app-config-namespace-list:not(:last-child) {
    display: block;
    margin-bottom: 12px;
}

.fab-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    & > div {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-right: 5px;

        button {
            margin-right: 17px;
        }
    }
}

.fab-toggler {
    float: right;
    z-index: 100;
}
