<div mat-dialog-title>
    Delete {{template.templateName}}
</div>

<div mat-dialog-content>
    <p>
        Are you sure you want to delete this template? This action is irreversible and may cause problems if the template
        is still referenced
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button color="warn" (click)="confirm()" cdkFocusInitial>Confirm</button>
    <button mat-button mat-raised-button (click)="cancel()">Cancel</button>
</div>
