<div mat-dialog-title>
    Create API Key
</div>

<div mat-dialog-content>
    <form [formGroup]="apikeyForm" (ngSubmit)="create()">
        <div class="apikey-grid">
            <div class="description">
                <mat-form-field>
                    <input matInput type="text" placeholder="Description" formControlName="description">
                    <mat-error *ngIf="apikeyForm.get('description').hasError('required')">Required field</mat-error>
                </mat-form-field>
            </div>

            <div class="roles">
                <mat-form-field>
                    <mat-chip-list #roles>
                        <mat-chip
                            *ngFor="let role of apikeyForm.get('roles').value"
                            [removable]="true"
                            (removed)="removeRole(role)"
                        >
                            {{role}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input
                            placeholder="Roles"
                            #roleInput
                            [formControl]="roleCtrl"
                            [matAutocomplete]="roleAuto"
                            [matChipInputFor]="roles"
                            [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                            (matChipInputTokenEnd)="addRole($event)"
                        >
                    </mat-chip-list>

                    <mat-autocomplete #roleAuto="matAutocomplete" (optionSelected)="selectedRole($event)">
                        <mat-option *ngFor="let role of filteredRoles | async" [value]="role">{{role}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button color="warn" (click)="create()" [disabled]="apikeyForm.invalid" cdkFocusInitial>Create API Key</button>
    <button mat-button mat-raised-button (click)="cancel()" cdkFocusInitial>Cancel</button>
</div>
