@import '../../../../../../styles/variables';

table {
    width: 100%;
    table-layout: fixed;
}

tr.detail-row {
    height: 0;
}

tr.resource-info-row {
    &.expanded-row {
        background-color: lighten($color-background-lighter, 10%);
    }

    &:not(.expanded-row):active {
        background-color: lighten($color-background-lighter, 10%);
    }

    td {
        border-bottom-width: 0;
    }
}

td:empty {
    font-style: italic;

    &:before {
        content: 'N/A';
    }
}

.mat-column-expanded-detail {
    background-color: $color-background-lighter;
}

.resource-details {
    overflow: hidden;
    display: flex;
}

.mat-column-resourceId {
    width: 30%;
    padding-right: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-column-account {
    width: 15%;
}

.mat-column-resourceType {
    width: 180px;
}

.mat-column-location {
    width: 150px;
}
