<mat-card #top>
    <mat-card-content>
        <app-filters [filters]="filters" [buttons]="buttons" (updated)="filterChange()"></app-filters>

        <div class="shade" *ngIf="loading">
            <mat-spinner *ngIf="loading"></mat-spinner>
        </div>

        <table mat-table [dataSource]="resources" multiTemplateDataRows class="hover">
            <ng-container matColumnDef="resourceId">
                <th mat-header-cell *matHeaderCellDef>Resource</th>
                <td mat-cell *matCellDef="let resource">
                    {{utils.getResourceName(resource)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="resourceType">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let resource">{{getResourceTypeName(resource.resourceType)}}</td>
            </ng-container>

            <ng-container matColumnDef="account">
                <th mat-header-cell *matHeaderCellDef>Account</th>
                <td mat-cell *matCellDef="let resource">{{resource.account.accountName}}</td>
            </ng-container>

            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>Location</th>
                <td mat-cell *matCellDef="let resource">{{resource.location}}</td>
            </ng-container>

            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef>Info</th>
                <td mat-cell *matCellDef="let resource" [innerHTML]="getPrimaryProperty(resource) | sanitize" class="empty"></td>
            </ng-container>

            <ng-container matColumnDef="expanded-detail">
                <td mat-cell *matCellDef="let resource" [attr.colspan]="displayedColumns.length">
                    <div class="resource-details" [@detailExpand]="resource === expandedResource ? 'expanded' : 'collapsed'">
                        <app-resource-details-inline [resource]="expandedResource"></app-resource-details-inline>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
                mat-row
                *matRowDef="let resource; columns: displayedColumns;"
                class="resource-info-row"
                [class.expanded-row]="expandedResource === resource"
                (click)="expandedResource = expandedResource === resource ? null : resource"
            >
            </tr>
            <tr
                mat-row
                *matRowDef="let resource; columns: ['expanded-detail']"
                class="detail-row"
            ></tr>
        </table>

        <mat-paginator
            [length]="resourceCount"
            [pageSize]="25"
            [pageSizeOptions]="[25, 50, 100]"
            showFirstLastButtons
        ></mat-paginator>
    </mat-card-content>
</mat-card>
