<ng-container *ngIf="!issue">
    <div class="lighter">
        <mat-toolbar color="primary">
            <h1>
                Issue not found
            </h1>
        </mat-toolbar>

        <mat-card>
            <mat-card-content>
                The requested issue was not found. You may have followed an old link, to an issue that has since been removed
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>

<ng-container *ngIf="issue">
    <div>
        <mat-toolbar color="primary">
            <h1>
                Issue
            </h1>

            <span class="fill"></span>

            <button mat-icon-button>
                <button mat-button mat-icon-button (click)="isOpen['issue'] = !isOpen['issue'];">
                    <mat-icon [@rotate]="isOpen['issue'] ? 'open' : 'closed'">keyboard_arrow_down</mat-icon>
                </button>
            </button>
        </mat-toolbar>

        <mat-card *ngIf="isOpen['issue']" [@openClose]>
            <mat-card-content>
                <table mat-table [dataSource]="issueInfo()" class="striped">
                    <ng-container matColumnDef="key">
                        <th mat-header-cell *matHeaderCellDef>Key</th>
                        <td mat-cell *matCellDef="let data">{{data.key}}</td>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef>Value</th>
                        <td mat-cell *matCellDef="let data">{{data.value}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['key', 'value']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['key', 'value'];"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <mat-toolbar color="primary">
            <h1>
                Properties
            </h1>

            <span class="fill"></span>

            <button mat-icon-button>
                <button mat-button mat-icon-button (click)="isOpen['properties'] = !isOpen['properties'];">
                    <mat-icon [@rotate]="isOpen['properties'] ? 'open' : 'closed'">keyboard_arrow_down</mat-icon>
                </button>
            </button>
        </mat-toolbar>

        <mat-card *ngIf="isOpen['properties']" [@openClose]>
            <mat-card-content>
                <table mat-table [dataSource]="filteredProperties()" class="striped">
                    <ng-container matColumnDef="key">
                        <th mat-header-cell *matHeaderCellDef>Key</th>
                        <td mat-cell *matCellDef="let prop">{{getIssuePropertyName(issue.issueType, prop.key)}}</td>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef>Value</th>
                        <td mat-cell *matCellDef="let prop" class="property-cell">
                            <app-property-display [property]="getDisplayProperty(prop)"></app-property-display>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['key', 'value']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['key', 'value'];"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>
