<section>
    <mat-toolbar color="primary">
        <h3>{{namespace.name}} <small>({{namespace.namespacePrefix}})</small></h3>
        <span class="fill"></span>
        <div class="buttons">
            <button mat-icon-button routerLink="add/{{namespace.namespacePrefix}}" matTooltip="Add config option">
                <mat-icon>add</mat-icon>
            </button>

            <button mat-icon-button routerLink="namespace/edit/{{namespace.namespacePrefix}}" matTooltip="Edit namespace">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button (click)="deleteNamespace(namespace)" matTooltip="Delete namespace">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <mat-card id="ns-{{namespace.namespacePrefix}}">
        <table mat-table [dataSource]="namespace.configItems" class="striped" *ngIf="namespace.configItems.length > 0">
            <ng-container matColumnDef="key">
                <th mat-header-cell *matHeaderCellDef>Key</th>
                <td mat-cell *matCellDef="let item">
                    <span
                        [matTooltip]="item.description"
                        matTooltipShowDelay="200"
                        matTooltipHideDelay="100"
                    >
                        {{item.key}}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let item" [innerHTML]="item.type | configItemType"></td>
            </ng-container>

            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Value</th>
                <td mat-cell *matCellDef="let item" [innerHTML]="display(item) | sanitize"></td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let item">
                    <button mat-icon-button role="button" [matMenuTriggerFor]="menu">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="../edit/{{item.namespacePrefix}}/{{item.key}}">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="deleteItem(item)">
                            <mat-icon>delete</mat-icon>
                            Delete
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['key', 'type', 'value', 'actions']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['key', 'type', 'value', 'actions'];"></tr>
        </table>

        <div *ngIf="namespace.configItems.length === 0">
            <i>No configuration items to display</i>
        </div>
    </mat-card>
</section>
