table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    margin-bottom: 16px;
}

.mat-column-key {
    width: 25%;
}

.mat-column-type {
    width: 140px;
    text-align: center;
}

.mat-column-value {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:empty {
        content: 'Empty';
        font-style: italic;
    }
}

.mat-column-actions {
    width: 80px;
    text-align: right;
}

::ng-deep .mat-menu-content {
    min-width: 160px;
}
