<mat-card #top>
    <mat-card-content>
        <div class="shade" *ngIf="loading">
            <mat-spinner *ngIf="loading"></mat-spinner>
        </div>

        <table mat-table [dataSource]="auditLogEvents" class="striped">
            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef>Timestamp</th>
                <td mat-cell *matCellDef="let event">
                    {{event.timestamp | date : 'yyyy-MM-dd HH:mm:ss'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="event">
                <th mat-header-cell *matHeaderCellDef>Event</th>
                <td mat-cell *matCellDef="let email">{{email.event}}</td>
            </ng-container>

            <ng-container matColumnDef="actor">
                <th mat-header-cell *matHeaderCellDef>Actor</th>
                <td mat-cell *matCellDef="let email">{{email.actor}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let event">
                    <button mat-button mat-raised-button color="primary" routerLink="../details/{{event.auditLogEventId}}">
                        View
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator
            [length]="auditLogEventCount"
            [pageSize]="25"
            [pageSizeOptions]="[25, 50, 100]"
            showFirstLastButtons
        ></mat-paginator>
    </mat-card-content>
</mat-card>
