<mat-card>
    <mat-card-content>
        <form [formGroup]="namespaceForm" (ngSubmit)="save()">
            <div class="namespace-grid">
                <div class="namespacePrefix">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Namespace Prefix" formControlName="namespacePrefix">
                        <mat-error *ngIf="namespaceForm.get('namespacePrefix').hasError('required')">Required field</mat-error>
                    </mat-form-field>
                </div>

                <div class="name">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Name" formControlName="name">
                        <mat-error *ngIf="namespaceForm.get('name').hasError('required')">Required field</mat-error>
                    </mat-form-field>
                </div>

                <div class="sortOrder">
                    <mat-form-field>
                        <input matInput type="number" placeholder="Sort Order" formControlName="sortOrder">
                    </mat-form-field>
                </div>
            </div>

            <div class="buttons">
                <button mat-raised-button color="primary" type="submit" [disabled]="!namespaceForm.valid">{{buttonText}}</button>
                <button mat-button color="accent" type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
