mat-form-field {
    width: 100%;
}

.namespace-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-areas:
        'namespacePrefix name'
        'sortOrder empty'
}

.namespacePrefix {
    grid-area: namespacePrefix;
}

.name {
    grid-area: name;
}

.sortOrder {
    grid-area: sortOrder;
}
