<h1 mat-dialog-title>API Key Created</h1>
<div mat-dialog-content>
    <p>
        A new API Key, {{apikey.description}}, has been created. Copy the information below to a secure location as you
        will not be able to access the secret key information again after closing this window!
    </p>
    <pre>API Key ID: {{apikey.apiKeyId}}
Secret Key: {{secretKey}}</pre>
</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button color="warn" (click)="close()" cdkFocusInitial>Close</button>
</div>
