@import 'variables.scss';

.mat-snack-bar-container {
    background-color: $snack-background-default;
    color: rgb(255, 255, 255);
    font-weight: 500;

    & .mat-button-wrapper {
        color: rgb(200, 200, 200);
    }

    &.success {
        background-color: $snack-background-success;

        & .mat-button-wrapper {
            color: rgba(255, 255, 255, .75);
        }

        & > simple-snack-bar > span {
            color: rgb(255, 255, 255);
        }
    }

    &.warning {
        background-color: $snack-background-warning;

        & .mat-button-wrapper {
            color: rgba(255, 255, 255, .75);
        }

        & > simple-snack-bar > span {
            color: rgb(255, 255, 255);
        }
    }

    &.error {
        background-color: $snack-background-error;

        & .mat-button-wrapper {
            color: rgba(255, 255, 255, .75);
        }

        & > simple-snack-bar > span {
            color: rgb(255, 255, 255);
        }
    }
}

.mat-menu-content {
    min-width: 200px;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: $color-light-grey;
}

.shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty:empty::before {
    content: 'Empty';
    font-style: italic;
}

.bold {
    font-weight: bold;
}
