@import "variables";
@import "mixins";

.label {
    min-width: 70px;
    display: inline-block;
    padding: 6px 8px;
    font-weight: bold;
    color: #ffffff;
    font-family: $font;
    font-size: 11px;
    text-align: center;
    background-color: $color-medium-grey;
    border: 1px solid lighten($color-background, 10%);
    @include border-radius(4px);

    &.large {
        font-size: 14px !important;
    }

    &:not(last-child) {
        margin-right: 4px;
    }

    &.red {
        background-color: $color-red;
    }

    &.yellow {
        background-color: $color-yellow;
        color: complement($color-yellow);
    }

    &.blue {
        background-color: $color-blue;
    }

    &.green {
        background-color: $color-green;
    }

    &.orange {
        background-color: $color-orange;
    }
}

.mat-chip {
    &.red {
        background-color: $color-red;
        color: white;
    }

    &.yellow {
        background-color: $color-yellow;
        color: complement($color-yellow);
    }

    &.blue {
        background-color: $color-blue;
        color: white;
    }

    &.green {
        background-color: $color-green;
        color: white;
    }

    &.orange {
        background-color: $color-orange;
        color: white;
    }
}
