@import "variables";
@import "mixins";

html, body {
    font-family: $font;
    color: $fontcolor;
    font-size: $fontsize;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $color-background;
}

a {
    text-decoration: none;
    color: $link-color;
    transition: all .1s ease-in-out;

    &:hover {
        color: $link-color-active;
        text-decoration: underline;
    }
}

table {
    &.striped {
        .mat-row:nth-child(even) {
            background-color: $color-background-lighter;
        }
    }

    &.hover {
        & tr:hover {
            background-color: lighten($color-background, 25%);
        }
    }
}

pre, .code-box {
    background-color: $color-dark-grey;
    padding: 4px 6px;
    margin: 8px 0;
    border: 1px solid $color-grey;
    line-height: 1.45;
    font-size: $fontsize - 1;
    font-family: $monospacefont;
    white-space: pre-wrap;
    @include border-radius(4px);
}

textarea {
    @include border-radius(4px);
    border: 1px solid $color-grey !important;
    transition-duration: 0.3s;
    transition-property: background-color, border;
    transition-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    min-height: 50px !important;
    padding: 8px;

    // Add the margin to the placeholder when its inside the textarea
    &:placeholder-shown:not(:focus) + .mat-form-field-label-wrapper > label {
        margin: 8px;
    }

    &:focus {
        background-color: $color-dark-grey !important;
    }

    &[aria-invalid="true"].ng-touched, &.ng-invalid.ng-touched {
        @include border-radius(4px);
        background-color: rgba(255, 0, 0, 0.1) !important;
        border: 1px solid rgb(255, 0, 0) !important;
    }
}

// Remove the top border radius on mat-cards that have a header / toolbar
mat-toolbar + mat-card, mat-card:first-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

mat-toolbar {
    height: 56px !important;
}

input {
    caret-color: white !important;
}
