@import '~@angular/material/theming';
@include mat-core();

$probator-primary: mat-palette($mat-blue-grey);
$probator-accent:  mat-palette($mat-amber, A200, A100, A400);
$probator-warn:    mat-palette($mat-red);
$probator-theme: mat-dark-theme($probator-primary, $probator-accent, $probator-warn);
@include angular-material-theme($probator-theme);
