// @import 'theme';

$font: "Roboto", Arial, sans-serif;
$fontsize: 14px;
$fontcolor: #d2d2d2;
$link-color: rgb(0, 168, 231);
$link-color-active: saturate($link-color, 50%);
$border-radius: 4px;

$monospacefont: Menlo, Monaco, Consolas, "Courier New", monospace;

$color-background: #303030;
$color-background-darker: darken($color-background, 2.5%);
$color-background-lighter: lighten($color-background, 5%);
$color-border: rgb(128, 128, 128);

// Grey colors
$color-dark-grey: rgb(94, 94, 94);
$color-medium-grey: rgb(158, 158, 158);
$color-grey: rgb(187, 187, 187);
$color-stripe-alt: rgb(240, 240, 240);
$color-light-grey: rgb(245, 245, 245);

// Regular colors
$color-light-blue: rgb(10, 110, 189);
$color-red: #BF1F08;
$color-orange: #F97E16;
$color-yellow: rgba(239, 216, 0, 0.8);
$color-blue: rgba(47, 150, 180, 0.8);
$color-green: #399c3a;
$color-salmon: rgba(255, 127, 2, 0.15);
$color-warning-red: rgba(255, 20, 20, 0.8);

// Footer colors
$color-footer-background: rgb(96, 125, 139);
$color-footer-text: rgb(255, 255, 255);
$color-disclaimer-background: rgb(252, 247, 220);

// Snackbar Colors
$snack-background-default: rgb(96, 125, 139);
$snack-background-success: rgb(0, 159, 0);
$snack-background-warning: rgb(207, 108, 0);
$snack-background-error: rgb(150, 0, 0);
