@import '../../../../../styles/variables';

div.gauge {
    text-align: center;

    & > b {
        font-size: 16px;
    }
}

::ng-deep {
    .gauge-warning svg .c3-chart-arcs-background {
        animation: blinker 3s ease-in-out infinite;
    }

    .c3-chart-arcs-gauge-unit {
        font-size: 12px !important;
        fill: darken($fontcolor, 10%) !important;
    }

    .c3-gauge-value {
        font-size: 18px !important;
        font-weight: bold;
        fill: darken($fontcolor, 10%) !important;
    }

    .c3-chart-arcs-title {
        font-size: 25px;
        font-weight: bold;
    }

    .c3-chart-arc path {
        stroke: $color-grey;
        stroke-width: 2px;
    }

    .c3 text {
        color: $fontcolor;
        fill: $fontcolor;
    }
}
