<div class="message">
    <mat-toolbar color="primary">
        <h1>
            Processing login
        </h1>
    </mat-toolbar>

    <mat-card>
        <p>
            Please wait while your login request is being processed
        </p>
    </mat-card>
</div>
