@import '../../../../../../styles/variables';

table {
    width: 100%;
    table-layout: fixed;
}

tr.detail-row {
    height: 0;
}

tr.issue-info-row {
    &.expanded-row {
        background-color: lighten($color-background-lighter, 10%);
    }

    &:not(.expanded-row):active {
        background-color: lighten($color-background-lighter, 10%);
    }

    td {
        border-bottom-width: 0;
    }
}

td:empty {
    font-style: italic;

    &:before {
        content: 'N/A';
    }
}

.mat-column-expanded-detail {
    background-color: $color-background-lighter;
}

.issue-details {
    overflow: hidden;
    display: flex;
}

.mat-column-issueId {
    width: 20%;
}

.mat-column-issueType {
    width: 15%;
}

.mat-column-updated {
    width: 15%;
}
