<mat-card #top>
    <mat-card-content>
        <app-filters [filters]="filters" [buttons]="buttons" (updated)="filterChange()"></app-filters>

        <div class="shade" *ngIf="loading">
            <mat-spinner *ngIf="loading"></mat-spinner>
        </div>

        <table mat-table [dataSource]="issues" multiTemplateDataRows class="hover">
            <ng-container matColumnDef="issueId">
                <th mat-header-cell *matHeaderCellDef>Issue ID</th>
                <td mat-cell *matCellDef="let issue">
                    {{issue.issueId}}
                </td>
            </ng-container>

            <ng-container matColumnDef="issueType">
                <th mat-header-cell *matHeaderCellDef>Issue Type</th>
                <td mat-cell *matCellDef="let issue">
                    {{getIssueTypeName(issue.issueType)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="account">
                <th mat-header-cell *matHeaderCellDef>Account</th>
                <td mat-cell *matCellDef="let issue">
                    {{issue.account ? issue.account.accountName : 'N/A'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>Location</th>
                <td mat-cell *matCellDef="let issue">
                    {{issue.location || 'N/A'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef>Info</th>
                <td mat-cell *matCellDef="let issue" [innerHTML]="getPrimaryProperty(issue) | sanitize" class="empty"></td>
            </ng-container>

            <ng-container matColumnDef="expanded-detail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="issue-details" [@detailExpand]="element === expandedIssue ? 'expanded' : 'collapsed'">
                        <app-issues-details-inline [issue]="expandedIssue"></app-issues-details-inline>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
                mat-row
                *matRowDef="let issue; columns: displayedColumns;"
                class="issue-info-row"
                [class.expanded-row]="expandedIssue === issue"
                (click)="expandedIssue = expandedIssue === issue ? null : issue"
            >
            </tr>
            <tr
                mat-row
                *matRowDef="let issue; columns: ['expanded-detail']"
                class="detail-row"
            ></tr>
        </table>

        <mat-paginator
            [length]="issueCount"
            [pageSize]="25"
            [pageSizeOptions]="[25, 50, 100]"
            showFirstLastButtons
        ></mat-paginator>
    </mat-card-content>
</mat-card>
