<mat-form-field>
    <mat-select
        placeholder="Enabled Options"
        [multiple]="true"
        [formControl]="choiceEnabledSelect"
        (selectionChange)="updateEnabled($event)"
    >
        <mat-option *ngFor="let option of choice.value.available" [value]="option">{{option}}</mat-option>
    </mat-select>
</mat-form-field>
