<div mat-dialog-title>
    Delete {{apikey.description}}
</div>

<div mat-dialog-content>
    <p>
        Are you sure you want to delete {{apikey.description}} ({{apikey.apiKeyId}})?. This action is irreversible and
        any system using this key will no longer be able to access the API
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button color="warn" (click)="confirm()" cdkFocusInitial>Confirm</button>
    <button mat-button mat-raised-button (click)="cancel()" cdkFocusInitial>Cancel</button>
</div>
