<div mat-dialog-title>
    Delete {{configItem.namespacePrefix}} / {{configItem.key}}
</div>

<div mat-dialog-content>
    <p>
        Are you sure you want to delete this configuration item? This action is irreversible.
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button color="warn" (click)="confirm()" cdkFocusInitial>Confirm</button>
    <button mat-button mat-raised-button (click)="cancel()">Cancel</button>
</div>
