<div mat-dialog-title>
    Password Reset
</div>

<div mat-dialog-content>
    <p>
        Are you sure you want to reset the password for  {{user.username}}?. This action is irreversible and the user
        may no longer be able to login.
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button color="warn" (click)="confirm()" cdkFocusInitial>Confirm</button>
    <button mat-button mat-raised-button (click)="cancel()" cdkFocusInitial>Cancel</button>
</div>
