<mat-toolbar color="primary">
    <h3>Email Details</h3>
</mat-toolbar>

<mat-card>
    <mat-card-content>
        <div class="email-table">
            <div class="email-info-row">
                <div class="table-cell title">
                    Timestamp
                </div>
                <div class="table-cell">
                    {{email.timestamp | date : 'yyyy-MM-dd HH:mm:ss'}}
                </div>
            </div>
            <div class="email-info-row">
                <div class="table-cell title">
                    Subsystem
                </div>
                <div class="table-cell">
                    {{email.subsystem}}
                </div>
            </div>
            <div class="email-info-row">
                <div class="table-cell title">
                    Subject
                </div>
                <div class="table-cell">
                    {{email.subject}}
                </div>
            </div>
            <div class="email-info-row">
                <div class="table-cell title">
                    Recipients
                </div>
                <div class="table-cell">
                    {{email.recipients}}
                </div>
            </div>
            <div class="email-info-row">
                <div class="table-cell title">
                    Message
                </div>
                <div class="table-cell">
                    <pre *ngIf="!email.messageHtml">{{email.messageText}}</pre>
                    <div *ngIf="email.messageHtml" class="code-box" [innerHTML]="sanitize(email.messageHtml)"></div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button mat-raised-button color="primary" (click)="back()">Back</button>
            <button mat-button color="warn" (click)="resend()">Resend Email</button>
        </div>
    </mat-card-content>
</mat-card>
