.resource-list {
    :not(:first-child):before {
        content: ', ';
    }
}

div {
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
