<ng-container *ngIf="isResourceReference()">
    <div *ngIf="property.propertyType === 'list' || property.propertyType === 'array'" class="resource-list">
        <a routerLink="/browse/resources/details/{{resourceId}}" *ngFor="let resourceId of property.value">{{resourceId}}</a>
    </div>

    <ng-container *ngIf="!(property.propertyType === 'list' || property.propertyType === 'array')">
        <a routerLink="/browse/resources/details/{{property.value}}">{{property.value}}</a>
    </ng-container>
</ng-container>

<div *ngIf="!isResourceReference()" [innerHTML]="displayValue() | sanitize"></div>
