<mat-form-field>
    <input
        *ngIf="property.type === 'string' || property.type === 'int' || property.type === 'float'"
        matInput
        autocomplete="off"
        [formControl]="control"
        [placeholder]="property.name"
    >
    <mat-chip-list *ngIf="property.type === 'array'" #inputList>
        <mat-chip
            *ngFor="let value of control.value"
            [removable]="true"
            (removed)="removeListValue(value)"
        >
            {{value}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
            [placeholder]="property.name"
            [formControl]="inputCtrl"
            [matChipInputFor]="inputList"
            [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
            (matChipInputTokenEnd)="addListValue($event)"
        >
    </mat-chip-list>
    <textarea
        *ngIf="property.type === 'json'"
        matInput
        [placeholder]="property.name"
        [formControl]="control"
        >{{control.value}}</textarea>
    <mat-error *ngIf="control.hasError('required')">Required field</mat-error>
    <mat-error *ngIf="control.hasError('pattern')">Invalid formatted value</mat-error>
</mat-form-field>
