table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    margin-bottom: 16px;
}

.mat-column-name {
    width: 25%;
}

.mat-column-template {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mat-column-actions {
    width: 120px;
    text-align: right;
}
