<form [formGroup]="passwordForm" (ngSubmit)="confirm()">
    <div mat-dialog-title color="primary">
        Change Password
    </div>

    <div mat-dialog-content>
        <p>
            Enter your new desired password below.
        </p>
        <p>
            <b>Note:</b> This password has no effect for federated (SSO) users
        </p>

        <div>
            <mat-form-field>
                <input matInput type="password" placeholder="New Password" formControlName="newPassword">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="password" placeholder="Repeat Password" formControlName="repeatPassword">
            </mat-form-field>
        </div>
        <mat-error *ngIf="passwordForm.hasError('passwordMismatch')">Passwords do not match</mat-error>
    </div>

    <div mat-dialog-actions>
        <button mat-button mat-raised-button color="warn" [disabled]="!passwordForm.valid">Change Password</button>
        <button mat-button mat-raised-button type="button" (click)="cancel()">Cancel</button>
    </div>
</form>
