<div mat-dialog-title>
    Delete {{account.accountName}}
</div>

<div mat-dialog-content>
    <p>
        Are you sure you want to delete {{account.accountName}}?. This action is irreversible and any resource or issue
        data relating to the account will be permanently removed.
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button color="warn" (click)="confirm()" cdkFocusInitial>Confirm</button>
    <button mat-button mat-raised-button (click)="cancel()" cdkFocusInitial>Cancel</button>
</div>
