@import '../styles/variables';

.loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

    .spinner {
        background-color: $color-background-lighter;
        position: absolute;
        height: 100px;
        width: 100px;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        margin: auto;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border: 1px solid #333333;
        border-radius: 4px;
        padding: 16px;
    }
}
