<div class="message">
    <mat-toolbar color="primary">
        <h1>
            Page not found
        </h1>
    </mat-toolbar>

    <mat-card>
        <mat-card-content>
            <p>
                The page you requested does not exist, you may have followed an old link.
            </p>

            <button mat-raised-button type="button" routerLink="/">Return</button>
        </mat-card-content>
    </mat-card>
</div>
