@import '../../../styles/variables';

.message {
    width: 600px;
    margin: 16px auto auto auto;
}

mat-card {
    padding-top: 14px;
    padding-bottom: 30px;
    background-color: $color-background-lighter;
}

mat-toolbar {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
}
