mat-form-field {
    width: 100%;
}

.drop-box {
    border: 1px dashed #7f7f7f;
    background-color: rgba(0, 0, 0, .01);
    min-height: 200px !important;
    max-height: 50vh;
    width: 96%;
    align-items: center;
    resize: vertical;
    display: block;
    margin-bottom: 16px;

    &.active {
        background-color: rgba(0, 165, 0, 0.5);
    }
}

mat-divider {
    margin-top: 8px;
    margin-bottom: 8px;
}
