<h1 mat-dialog-title>
    {{title}}
</h1>

<div mat-dialog-content>
    <mat-form-field>
        <textarea
            matInput
            #dropBox
            class="drop-box"
            appFileDrop
            placeholder="Import data"
            [formControl]="importControl"
            (filesDropped)="handleDrop($event)"
            (filesHovered)="dropzoneState($event)"
            [ngClass]="{active: dropzoneActive}"
        ></textarea>
        <mat-error *ngIf="importControl.hasError('json')">Invalid JSON</mat-error>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="prepareImport()" [disabled]="!importControl.valid">Import</button>
    <button mat-raised-button color="primary" (click)="download()">Export</button>
    <button mat-button color="accent" (click)="close()">Close</button>
</div>
