<mat-card #top>
    <mat-card-content>
        <app-filters [filters]="filters" (updated)="filterChange()"></app-filters>

        <div class="shade" *ngIf="loading">
            <mat-spinner *ngIf="loading"></mat-spinner>
        </div>

        <table mat-table [dataSource]="users" class="striped">
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Username</th>
                <td mat-cell *matCellDef="let user">
                    {{user.username}}
                </td>
            </ng-container>

            <ng-container matColumnDef="authSystem">
                <th mat-header-cell *matHeaderCellDef>Auth System</th>
                <td mat-cell *matCellDef="let user">{{user.authSystem}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let user" class="empty">{{user.name}}</td>
            </ng-container>

            <ng-container matColumnDef="roles">
                <th mat-header-cell *matHeaderCellDef>Roles</th>
                <td mat-cell *matCellDef="let user">
                    <span class="label" *ngFor="let role of user.roles" [ngStyle]="{backgroundColor: role.color}">
                        {{role.name}}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let user">
                    <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="'../edit/' + user.userId">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>
                        <button mat-menu-item type="button" (click)="resetPassword(user)">
                            <mat-icon>vpn_key</mat-icon>
                            Reset Password
                        </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="delete(user)">
                            <mat-icon>delete</mat-icon>
                            Delete
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div style="float: left;">
            <button mat-icon-button matTooltip="Add User" routerLink="../add"><mat-icon>add</mat-icon></button>
        </div>

        <mat-paginator
            [length]="userCount"
            [pageSize]="25"
            [pageSizeOptions]="[25, 50, 100]"
            showFirstLastButtons
        ></mat-paginator>
    </mat-card-content>
</mat-card>
