table {
    width: 100%;
}

.mat-column-username {
    width: 20%;
}

.mat-column-authSystem {
    width: 20%;
}

.mat-column-name {
    width: 20%;
}

.mat-column-actions {
    width: 120px;
    text-align: right;
}

::ng-deep .mat-menu-content {
    min-width: 250px;
}
