<mat-toolbar color="primary">
    <h1>Summary</h1>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <div id="resourceSummary"></div>
        <div id="issueSummary"></div>
    </mat-card-content>
</mat-card>

<mat-toolbar color="primary">
    <h1>Account Compliance</h1>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <p>
            The list of gauges below show the compliance level of each account. Only audited resources are used in calculating the compliance level
        </p>

        <div class="issue-summary-grid" *ngIf="gauges">
            <app-gauge [config]="gauge" *ngFor="let gauge of gauges"></app-gauge>
        </div>
    </mat-card-content>
</mat-card>
