@import '../../../../../styles/variables';

@keyframes blinker {
    50% {
        fill: rgb(137, 35, 31);
    }
}

::ng-deep .issue-summary-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
}

#resourceSummary, #issueSummary {
    display: inline-block;
    height: 450px;
    width: 48%;
}

@media screen and (max-width: 1400px) {
    #resourceSummary, #issueSummary {
        display: block;
    }

    .issue-summary-grid {
        grid-template-columns: 30% 30% 33%;
    }
}

mat-card:not(:last-of-type) {
    margin-bottom: 16px;
}

::ng-deep .c3-tooltip {
    color: $color-light-grey;
    border-color: $color-border;
    td {
        background-color: $color-background-darker;
    }
}
