@import '../../../../../../styles/variables.scss';

mat-card {
    overflow: hidden;
}

div {
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.log-info-row {
    display: table-row;
    width: 100%;

    &:nth-child(even) {
        background-color: $color-background-lighter;
    }
}

.table-cell {
    display: table-cell;
    flex: auto;

    line-height: 48px;

    &:empty {
        font-style: italic;

        &:before {
            content: 'N/A';
        }
    }

    &:first-child {
        padding-left: 24px;
    }

    &:last-child {
        padding-right: 24px;
    }
}

.title {
    width: 300px !important;
}

.buttons {
    button:not(:last-child) {
        margin-right: 12px;
    }
}

section:not(:last-child) {
    margin-bottom: 16px;
}

.log-table {
    width: 100%;
    display: table;
    border-collapse: collapse;
}
