<section>
    <mat-toolbar color="primary">
        <h3>Log Event Details</h3>
    </mat-toolbar>

    <mat-card>
        <mat-card-content>
            <div class="log-table">
                <div class="log-info-row">
                    <div class="table-cell title">
                        Timestamp
                    </div>
                    <div class="table-cell">
                        {{logEvent.timestamp | date : 'yyyy-MM-dd HH:mm:ss'}}
                    </div>
                </div>
                <div class="log-info-row">
                    <div class="table-cell title">
                        Level
                    </div>
                    <div class="table-cell">
                        {{logEvent.level}}
                    </div>
                </div>
                <div class="log-info-row">
                    <div class="table-cell title">
                        Module
                    </div>
                    <div class="table-cell">
                        {{logEvent.module}}
                    </div>
                </div>
                <div class="log-info-row">
                    <div class="table-cell title">
                        Message
                    </div>
                    <div class="table-cell">
                        {{logEvent.message}}
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>

<section *ngIf="logEvent.stacktrace">
    <mat-toolbar color="primary">
        <h3>Stacktrace</h3>
    </mat-toolbar>

    <mat-card>
        <mat-card-content>
            <pre>{{logEvent.stacktrace}}</pre>
        </mat-card-content>
    </mat-card>
</section>

<div class="buttons">
    <button mat-raised-button color="primary" (click)="back()">Back</button>
</div>
