<div class="message">
    <mat-toolbar color="primary">
        <h1>
            Login
        </h1>
    </mat-toolbar>

    <mat-card>
        <div *ngIf="loginType === 'state'">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div>
                    <mat-form-field>
                        <input matInput type="text" formControlName="username" placeholder="Username">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <input matInput type="password" formControlName="password" placeholder="Password">
                    </mat-form-field>
                </div>

                <div>
                    <button mat-raised-button color="primary" type="submit">Log in</button>
                </div>
            </form>
        </div>

        <div *ngIf="loginType === 'url'">
            <p>
                Please click the button below to authenticate using your federated login / SSO provider
            </p>
            <button mat-raised-button color="primary" (click)="loginRedirect(this.authInfo.url)">SSO Login</button>
        </div>
    </mat-card>
</div>
