<div>
    <form [formGroup]="contactForm" (ngSubmit)="add()">
        <div mat-dialog-title>
            Add contact
        </div>

        <div mat-dialog-content>
            <p>Select the type of contact below and provide the contact information.</p>
            <div>
                <mat-form-field>
                    <mat-select formControlName="type" placeholder="Contact Type" (selectionChange)="changeType($event)">
                        <mat-option *ngFor="let notifier of notifiers" [value]="notifier">{{notifier.type}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="contactForm.get('value').hasError('required')">Required field</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <input type="text" matInput placeholder="Contact" formControlName="value">
                    <mat-error *ngIf="contactForm.get('value').hasError('pattern')">Incorrectly formatted contact</mat-error>
                    <mat-error *ngIf="contactForm.get('value').hasError('required')">Required field</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid">Create contact</button>
            <button mat-button (click)="cancel()" type="button" color="accent">Cancel</button>
        </div>
    </form>
</div>
