<mat-form-field>
    <mat-chip-list #contactList class="lighter">
        <mat-chip *ngFor="let contact of contacts.value" [removable]="true" (removed)="remove(contact)" [ngClass]="getClass(contact)">
            {{contact.type}}: {{contact.value}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
            placeholder="Contacts"
            [disabled]="true"
            [matChipInputFor]="contactList"
        >
        <button mat-button matSuffix mat-icon-button mat-raised-button type="button" color="accent" (click)="openInput()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-chip-list>
</mat-form-field>
