<div mat-dialog-title>
    Delete {{role.name}}
</div>

<div mat-dialog-content>
    <p>
        Are you sure you want to delete the {{role.name}} role?
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button color="warn" (click)="confirm()" cdkFocusInitial>Confirm</button>
    <button mat-button mat-raised-button (click)="cancel()">Cancel</button>
</div>
