<div mat-dialog-content>
    <p>
        A new password was generated for {{user.username}}
    </p>
    <pre>{{password}}</pre>
    <p>
        Once you close this dialog, you will not be able to retrieve the password again!
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button color="warn" (click)="close()" cdkFocusInitial>Close</button>
</div>
