<ng-container *ngIf="resource">
    <mat-tab-group color="accent">
        <mat-tab label="Properties">
            <div class="property-grid" *ngIf="resource">
                <div *ngFor="let property of filteredProperties() | keyvalue">
                    <div>
                        <b>{{getResourcePropertyName(resource.resourceType, property.key)}}</b>
                    </div>
                    <div>
                        <app-property-display [property]="getDisplayProperty(property)"></app-property-display>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Tags">
            <div class="property-grid" *ngIf="resource && resource.tags">
                <ng-container *ngFor="let tag of resource.tags">
                    <div>
                        <div style="font-weight: bold">
                            {{tag.key}}
                        </div>
                        <div>
                            {{tag.value}}
                        </div>
                    </div>
                </ng-container>
            </div>

            <div *ngIf="resource && !resource.tags.length">
                <i>No tags present on this resource</i>
            </div>
        </mat-tab>
    </mat-tab-group>

    <hr>

    <p style="margin-top: 16px;">
        Permalink: <a [href]="getPermanentLink()" target="_blank">{{getPermanentLink()}}</a>
    </p>
</ng-container>

<ng-container *ngIf="!resource">
    <div style="min-height: 100px;">&nbsp;</div>
</ng-container>
