<mat-card>
    <mat-card-content>
        <form [formGroup]="configForm" (ngSubmit)="save()">
            <div class="config-grid">
                <div class="namespace">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Namespace" formControlName="namespacePrefix">
                        <mat-error *ngIf="configForm.get('namespacePrefix').hasError('required')">Required field</mat-error>
                    </mat-form-field>
                </div>

                <div class="key">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Key" formControlName="key">
                        <mat-error *ngIf="configForm.get('key').hasError('required')">Required field</mat-error>
                    </mat-form-field>
                </div>

                <div class="type">
                    <mat-form-field>
                        <mat-select formControlName="type" placeholder="Type" (selectionChange)="changeType($event)">
                            <mat-option *ngFor="let type of configTypes" [value]="type">{{type | titlecase}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="configForm.get('type').hasError('required')">Required field</mat-error>
                    </mat-form-field>
                </div>

                <div class="description">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Description" formControlName="description">
                    </mat-form-field>
                </div>

                <div class="value" *ngIf="configForm.get('type').value === 'string'">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Value" formControlName="value">
                    </mat-form-field>
                </div>

                <div class="value" *ngIf="configForm.get('type').value === 'int' || configForm.get('type').value === 'float'">
                    <mat-form-field>
                        <input matInput type="number" placeholder="Value" formControlName="value">
                    </mat-form-field>
                </div>

                <div class="value" *ngIf="configForm.get('type').value === 'json'">
                    <mat-form-field>
                        <textarea matInput placeholder="Value" formControlName="value" cdkTextareaAutosize></textarea>
                        <mat-error *ngIf="configForm.get('value').hasError('required')">Required field</mat-error>
                        <mat-error *ngIf="configForm.get('value').hasError('json')">Invalid JSON</mat-error>
                    </mat-form-field>
                </div>

                <div class="value" *ngIf="configForm.get('type').value === 'text'">
                    <mat-form-field>
                        <textarea matInput placeholder="Value" formControlName="value" cdkTextareaAutosize></textarea>
                        <mat-error *ngIf="configForm.get('value').hasError('required')">Required field</mat-error>
                    </mat-form-field>
                </div>

                <div class="value" *ngIf="configForm.get('type').value === 'choice'">
                    <app-config-choice-editor [choice]="configForm.get('value')"></app-config-choice-editor>
                </div>

                <div class="value" *ngIf="configForm.get('type').value === 'bool'">
                    <mat-form-field>
                        <mat-select [formControl]="configForm.get('value')" placeholder="Value">
                            <mat-option [value]="true">Enabled</mat-option>
                            <mat-option [value]="false">Disabled</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="value" *ngIf="configForm.get('type').value === 'array'">
                    <app-config-item-editor-list [list]="configForm.get('value')"></app-config-item-editor-list>
                </div>
            </div>

            <div class="buttons">
                <button mat-raised-button color="primary" type="submit" [disabled]="!configForm.valid">{{buttonText}}</button>
                <button mat-button color="accent" type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
