@import '../../../../../../styles/variables';

mat-form-field {
    width: 100%;
}

div:not(:last-child) {
    margin-bottom: 10px;
}

.config-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-areas:
        'namespace key type'
        'desc desc desc'
        'value value value';

    .namespace {
        grid-area: namespace;
    }

    .key {
        grid-area: key;
    }

    .description {
        grid-area: desc;
    }

    .type {
        grid-area: type;
    }

    .value {
        grid-area: value;
    }

}

div.buttons :not(:last-child) {
    margin-right: 8px;
}

textarea {
    font-family: $monospacefont;
    resize: vertical;
    max-height: 60vh;
}
