<mat-card>
    <mat-card-content>
        <table mat-table [dataSource]="apiKeys" class="striped">
            <ng-container matColumnDef="apiKeyId">
                <th mat-header-cell *matHeaderCellDef>API Key ID</th>
                <td mat-cell *matCellDef="let apiKey">
                    {{apiKey.apiKeyId}}
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let apiKey">
                    {{apiKey.description}}
                </td>
            </ng-container>

            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Created</th>
                <td mat-cell *matCellDef="let apiKey" style="text-align: center;">
                    {{apiKey.created | date:'yyyy-MM-dd HH:mm'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="lastUsed">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Last Used</th>
                <td mat-cell *matCellDef="let apiKey" style="text-align: center;">
                    {{(apiKey.lastUsed | date:'yyyy-MM-dd HH:mm') || 'Never'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="roles">
                <th mat-header-cell *matHeaderCellDef>Roles</th>
                <td mat-cell *matCellDef="let apiKey">
                    <span class="title label" *ngFor="let role of apiKey.roles">{{role.name}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let apiKey">
                    <button mat-icon-button (click)="delete(apiKey)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>

        <div>
            <button mat-icon-button matTooltip="Add API Key" (click)="create()"><mat-icon>add</mat-icon></button>
        </div>
    </mat-card-content>
</mat-card>
