table {
    width: 100%;
    margin-bottom: 16px;
}

.mat-column-apiKeyId {
    width: 300px;
}

.mat-column-created, .mat-column-lastUsed {
    width: 150px;
}

.mat-column-roles {
    width: 300px;
}

.mat-column-actions {
    width: 80px;
    text-align: right;
}

::ng-deep .mat-menu-content {
    min-width: 160px;
}
