mat-form-field {
    width: 100%;
}

.user-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-areas:
        'username authSystem'
        'name email'
        'roles empty';
}

.username {
    grid-area: username;
}

.authSystem {
    grid-area: authSystem;
}

.roles {
    grid-area: roles;
}
