<mat-card>
    <mat-card-content>
        <form [formGroup]="userForm" (ngSubmit)="save()">
            <div class="user-grid">
                <div class="username">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Username" formControlName="username">
                        <mat-error *ngIf="userForm.get('username').hasError('required')">Required field</mat-error>
                    </mat-form-field>
                </div>

                <div class="authSystem">
                    <mat-form-field>
                        <mat-select formControlName="authSystem" placeholder="Auth System">
                            <mat-option *ngFor="let authSys of authSystems" [value]="authSys">{{authSys}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="userForm.get('username').hasError('required')">Required field</mat-error>
                    </mat-form-field>
                </div>

                <div class="name">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Name" formControlName="name">
                    </mat-form-field>
                </div>

                <div class="email">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Email" formControlName="email">
                        <mat-error *ngIf="userForm.get('email').hasError('pattern')">Invalid email address</mat-error>
                    </mat-form-field>
                </div>

                <div class="roles">
                    <mat-form-field>
                        <mat-select formControlName="roles" placeholder="Roles" multiple>
                            <mat-option *ngFor="let role of roles" [value]="role.name">{{role.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="buttons">
                <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">{{buttonText}}</button>
                <button mat-button color="accent" type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
