@import "styles/theme";
// @import "~@angular/material/prebuilt-themes/purple-green.css";
@import "styles/variables";
@import "styles/mixins";
@import "styles/stdtags";
@import "styles/labels";
@import "styles/extras";
@import '~c3/c3.min.css';

.padding {
    padding: 2px 6px;
}

.pull-right {
    float: right !important;
}

.fill {
    flex: 1 1 auto;
}

.mat-tooltip {
    font-size: 12px !important;
    max-width: 350px !important;
}
