<mat-card>
    <mat-card-content>
        <table mat-table [dataSource]="roles" class="striped">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let role">
                    {{role.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef>Color</th>
                <td mat-cell *matCellDef="let role">
                    <div class="color-sample" [ngStyle]="{backgroundColor: role.color}">&nbsp;</div>
                    {{role.color}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let role">
                    <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="'../edit/' + role.roleId">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="delete(role)">
                            <mat-icon>delete</mat-icon>
                            Delete
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div>
            <button mat-icon-button matTooltip="Add Role" routerLink="../add"><mat-icon>add</mat-icon></button>
        </div>
    </mat-card-content>
</mat-card>
