@import "../../../../../../styles/mixins";

table {
    width: 100%;
}

.color-sample {
    @include border-radius(2px);
    @include fixed-size(18px, 18px);
    display: inline-flex;
    align-items: stretch;
    border: 1px solid #444;
    font-size: 1px;
    margin: 2px 4px -2px 4px;
    vertical-align: bottom;
}

.mat-column-name {
    width: 40%;
}

.mat-column-actions {
    width: 120px;
    text-align: right;
}
