<div id="menu-container">
    <div class="darker">
        <mat-toolbar color="primary">
            <h1 class="header">Probator</h1>
        </mat-toolbar>
    </div>

    <mat-nav-list>
        <section *ngFor="let group of menu">
            <div *ngIf="userHasAccess(group)">
                <h3 matSubheader *ngIf="group.name">
                    {{group.name}}
                    <span class="fill"></span>
                    <button mat-button mat-icon-button (click)="isOpen[group.key] = !isOpen[group.key];">
                        <mat-icon [@rotate]="isOpen[group.key] ? 'open' : 'closed'">keyboard_arrow_down</mat-icon>
                    </button>
                </h3>

                <div class="menu-group" *ngIf="isOpen[group.key]" [@openClose]>
                    <a
                        *ngFor="let item of group.menuItems"
                        mat-list-item
                        [routerLink]="item.path"
                        routerLinkActive="active"
                    >{{item.name}}</a>
                </div>
            </div>
        </section>
    </mat-nav-list>

    <div class="darker">
        <mat-toolbar color="primary" class="footer">
            <div *ngIf="userService.user">
                {{userService.user.name ? userService.user.name : userService.user.username}}
            </div>
            <span class="fill"></span>
            <img
                src="https://www.gravatar.com/avatar/{{getGravatarHash()}}?s=48&d=mp"
                alt=""
                class="user-icon"
                [matMenuTriggerFor]="usermenu"
            >
            <mat-menu #usermenu="matMenu">
                <button mat-menu-item (click)="changePassword()">
                    <mat-icon>vpn_key</mat-icon>
                    Change Password
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>power_settings_new</mat-icon>
                    Logout
                </button>
            </mat-menu>
        </mat-toolbar>
    </div>
</div>
