@import '~@angular/material/theming';

#menu-container {
    display: grid;
    grid-template-rows: 56px auto 56px;
    grid-template-columns: auto;
    height: 100vh;
}

mat-toolbar {
    h1 {
        &.header {
            margin: auto;
            font-weight: bold;
            font-size: 24px;
        }
    }

    &.footer {
        font-size: 14px;
        font-weight: normal;
    }
}

mat-nav-list {
    overflow-x: hidden;

    h3.mat-subheader {
        margin-top: 8px;
        color: #bbbbbb;
    }

    a.mat-list-item {
        font-size: 14px;
        height: 42px;
        padding-left: 6px;
        text-transform: capitalize;

        &.active {
            background-color: #6c7b85;
        }
    }
}

.menu-group {
    overflow: hidden;
}

.user-menu-button {
    background-color: rgb(161, 186, 196);
    color: rgb(255, 255, 255);
}

.user-icon {
    @include mat-elevation(4);
    border-radius: 50%;
    transition: box-shadow 150ms ease-in-out;

    &:hover {
        cursor: pointer;
    }

    &:hover {
        @include mat-elevation(8);
    }
}
