table {
    width: 100%;
    margin-bottom: 16px;
}

.mat-column-accountName {
    width: 25%;
}

.mat-column-type {
    width: 15%;
}

.mat-column-status {
    width: 120px;
}

.mat-column-actions {
    width: 80px;
    text-align: right;
}

::ng-deep .mat-menu-content {
    min-width: 160px;
}
