<mat-card>
    <mat-card-content>
        <table mat-table [dataSource]="accounts" class="striped">
            <ng-container matColumnDef="accountName">
                <th mat-header-cell *matHeaderCellDef>Account Name</th>
                <td mat-cell *matCellDef="let account">
                    {{account.accountName}}
                </td>
            </ng-container>

            <ng-container matColumnDef="contacts">
                <th mat-header-cell *matHeaderCellDef>Contacts</th>
                <td mat-cell *matCellDef="let account">
                    <span
                        class="title label"
                        *ngFor="let contact of account.contacts"
                        [ngClass]="contactLabelClass(contact.type)"
                    >
                        {{contact.value}}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th style="text-align: center;" mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let account" style="text-align: center;">
                    <span class="label" [ngClass]="accountLabelClass(account.accountType)">{{account.accountType}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let account" style="text-align: center;" [innerHTML]="account.enabled | status"></td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let account">
                    <button mat-icon-button role="button" [matMenuTriggerFor]="menu">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="'../edit/' + account.accountId">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="delete(account)">
                            <mat-icon>delete</mat-icon>
                            Delete
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>

        <div>
            <button mat-icon-button matTooltip="Add account" routerLink="../add"><mat-icon>add</mat-icon></button>
            <button mat-icon-button matTooltip="Export accounts" (click)="importExport()"><mat-icon>import_export</mat-icon></button>
        </div>
    </mat-card-content>
</mat-card>
