<div mat-dialog-content>
    <p>
        Probator supports searching for resources in one of three ways, by resource ID, property value or tag value
    </p>

    <p>
        You can search for more than one keyword at a time, simply separate the keywords with spaces. The search will be performed
        as a boolean AND query, meaning only resources matching <b>all</b> the keywords will be returned. If a keyword contains
        a space, you must quote the value.
    </p>

    <p>
        All searches are performed <b>case-insensitive</b>
    </p>

    <mat-tab-group color="accent">
        <mat-tab label="Resource ID">
            <p>To search for an resource by ID, you simply input the resource ID into the Search field.</p>

            <h4>Example</h4>
            <pre>{{examples.resourceId}}</pre>
        </mat-tab>

        <mat-tab label="Properties">
            <p></p>
            <h4>Example</h4>
            <pre>{{examples.property}}</pre>

            <h4>Resource Property Names</h4>
            <p>Use the dropdown menu below to find the correct resource property keywords</p>

            <mat-form-field style="display: block;">
                <mat-select placeholder="Resource Type" (selectionChange)="updateResourceProperties($event)">
                    <mat-optgroup [label]="group.name" *ngFor="let group of resourceTypes">
                        <mat-option *ngFor="let rtype of group.options" [value]="rtype.value">{{rtype.name}} ({{rtype.value}})</mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>

            <table mat-table [dataSource]="properties" class="striped" *ngIf="properties.length > 0">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let prop">{{prop.name}}</td>
                </ng-container>

                <ng-container matColumnDef="key">
                    <th mat-header-cell *matHeaderCellDef>Keyword</th>
                    <td mat-cell *matCellDef="let prop">{{prop.key}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </mat-tab>

        <mat-tab label="Tags">
            <p>
                Tag searches will be performed as <b>case-insensitive</b> searches. Key names will be full string matches
                while values will matched partially
            </p>
            <h4>Example</h4>

            <pre>{{examples.tag}}</pre>
        </mat-tab>
    </mat-tab-group>

</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button color="accent" (click)="onClose()">Close</button>
</div>
