<mat-card>
    <mat-card-content>
        <form [formGroup]="roleForm" (ngSubmit)="save()">
            <div class="role-grid">
                <div class="name">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Role Name" formControlName="name">
                        <mat-error *ngIf="roleForm.get('name').hasError('required')">Required field</mat-error>
                    </mat-form-field>
                </div>

                <div class="color">
                    <color-chrome [color]="roleForm.get('color').value" [disableAlpha]="true" (onChangeComplete)="updateColor($event)"></color-chrome>
                </div>
            </div>

            <div class="buttons">
                <button mat-raised-button color="primary" type="submit" [disabled]="!roleForm.valid">{{buttonText}}</button>
                <button mat-button color="accent" type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
