mat-form-field {
    width: 100%;
}

.role-grid {
    display: grid;
    grid-gap: 16px;
    margin-bottom: 16px;
    grid-template-areas: 'name'
                         'color';
}

.name {
    grid-area: name;
}

.color {
    grid-area: color;
}

mcc-color-picker {
    position: relative;
    bottom: -14px;
}

.buttons {
    button:not(:last-child) {
        margin-right: 8px;
    }
}
