<ng-container *ngIf="issue">
    <div class="property-grid">
        <div *ngFor="let property of filteredProperties() | keyvalue">
            <div style="font-weight: bold">
                {{getIssuePropertyName(issue.issueType, property.key)}}
            </div>
            <div>
                <app-property-display [property]="getDisplayProperty(property)"></app-property-display>
            </div>
        </div>
    </div>

    <hr>

    <p>
        Permalink: <a [href]="getPermanentLink()" target="_blank">{{getPermanentLink()}}</a>
    </p>
</ng-container>

<ng-container *ngIf="!issue">
    <div style="min-height: 100px;">&nbsp;</div>
</ng-container>
