:host {
    width: 100%;
    padding: 10px 0;
}

.property-grid {
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 16px;
    padding: 12px 0;

    & > div {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
    }
}
