<mat-card #top>
    <mat-card-content>
        <app-filters [filters]="filters" (updated)="filterChange()"></app-filters>

        <div class="shade" *ngIf="loading">
            <mat-spinner *ngIf="loading"></mat-spinner>
        </div>

        <table mat-table [dataSource]="emails" class="striped">
            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef>Timestamp</th>
                <td mat-cell *matCellDef="let email">
                    {{email.timestamp | date : 'yyyy-MM-dd HH:mm:ss'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="subsystem">
                <th mat-header-cell *matHeaderCellDef>Subsystem</th>
                <td mat-cell *matCellDef="let email">{{email.subsystem}}</td>
            </ng-container>

            <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef>Subject</th>
                <td mat-cell *matCellDef="let email">{{email.subject}}</td>
            </ng-container>

            <ng-container matColumnDef="recipients">
                <th mat-header-cell *matHeaderCellDef>Recipients</th>
                <td mat-cell *matCellDef="let email">{{email.recipients}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let email">
                    <button mat-button mat-raised-button color="primary" routerLink="../details/{{email.emailId}}">
                        View
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator
            [length]="emailCount"
            [pageSize]="25"
            [pageSizeOptions]="[25, 50, 100]"
            showFirstLastButtons
        ></mat-paginator>
    </mat-card-content>
</mat-card>
