table {
    width: 100%;
}

.mat-column-timestamp {
    width: 20%;
}

.mat-column-subsystem {
    width: 20%;
}

.mat-column-subject {
    width: 25%;
}

.mat-column-actions {
    width: 100px;
    text-align: center;
}
